
{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/yy.css')}}">
{% endblock %}
{% block body %}
{% set i = 0%}
{%set j = i+1 %}
<form method="post">
    <div class="grid-item">
        <div id="priTotal">
            <button  id="btn-model" class="btn btn-success">info</button>
            <div class="model" id="model">
                <div class="model-content">
                    <ul>
                        <li><p>1 Une fois que vous appuyer sur le boutton paiement vous devriez payer</p></li>
                        <li><p>2 En refusant cette reglement on peut vous poursuivre en justice</p></li>
                    </ul>
                </div>
            </div>
            <label for="Place_prise" class="label-prise">Prix a payer(Ariary):</label>
            <input type="text" id="prix" value="{{billet.prix}}">
            <input type="text" id="prixQt" name="prix" value=""  readonly>
            <input type="hidden" id="id_prise" name="id_voiture" value="">
            <input type="hidden" id="place_prise" name="place_prise" value="">
            <button class=" btn btn-outline-success mb-3" id="btn">{{ button_label|default('Passer au paiement') }}</button>
        </div>  
        <div class="all_voiture">
            {%for voiture in voitures%}
            <div class="oneVoiture">
                <div class="desc">
                    {{voiture.numero}}
                    {{voiture.categorie}}
                    <input type="hidden" name="" value="{{voiture.id}}" id="voitureId">
                </div>
                    <div class="conteneur">
                        {%set temp = voiture.id%}
                        {%if voiture.id == temp%}
                            {%set i = 0%}
                        {%endif%}
                        <div class="content_place">
                            <input type="hidden" name="" value="{{voiture.id}}" id="voitureId">
                            {%for place in voiture.place%}
                            <div class="check" id="{{voiture.id}}">
                                <p>{{i}}</p>
                                {%if place == ''%}
                                <input type="checkbox" name="place[]" id="" value= "0" class="place" >
                                {%else%}
                                <input type="radio" name="place[]" id="" value= "{{place}}" class="place" checked="true">
                                {%endif%}
                                {%set i = i+1 %}
                            </div>
                            {%endfor%}
                            <input type="checkbox" name="ok" id="" class="ok">
                        </div>
                    </div>
            </div>
            {%endfor%}
        </div>
            
    </div>       
    <button type="submit">coco</button>
</form>
<script>
    const voitureId = document.getElementById('voitureId')
    const arrayP = []
    const valeur = document.getElementById('valeur')
    document.querySelectorAll('.place').forEach((place)=>{
       //place.style.display="none"
        if(place.value==1){
            place.checked=true
            place.disabled=true
            place.parentNode.style.backgroundColor="red"
        }else{
            place.checked=false
        }
    })
    const place_prise = document.getElementById('place_prise')
    const all_voiture = document.querySelector('.all_voiture')
    const numPlace = document.getElementById('numPlace')
    const prixQt = document.getElementById('prixQt')
    const prix = document.getElementById('prix')
    const array_place=[]
    let j=1
    let selectedCar = 0
    const content_place = document.querySelectorAll('.content_place');
    content_place.forEach((content)=>{
        content.addEventListener('click',()=>{
                console.log(content.firstElementChild.value+"ajouter")
                content.style.backgroundColor="grey"
                selectedCar = content.firstElementChild.value
                cc()
        })
        if(selectedCar==0){
            content.style.backgroundColor="red" 
            content.removeEventListener('click',coco())
        }
    })
    
    let ki=0
    function cc(){

        document.querySelectorAll('.check').forEach((check)=>{
                    check.addEventListener('click',function coco(e){
                        e.preventDefault()
                        if(check.children[1].type=="checkbox"){
                            if(!check.style.backgroundColor){
                                check.style.backgroundColor="rgb(48, 255, 29)";
                                check.style.opacity="0.8";
                                check.children[1].checked=true
                                check.children[1].value=1
                                idValue=check.id
                                //voiture=voitureId.value
                                array_place.push(check.children[0].textContent);
                                prixQt.value=(prix.value*j);
                                selectedCar++
                                j++;
                            }else{
                                check.style.backgroundColor=""
                                check.children[1].checked=false
                                check.style.opacity="1";
                                check.children[1].value=0
                                prixQt.value=prixQt.value - prix.value;
                                j--;
                                prixQt.placeholder=prixQt.value;
                                array_place.pop();
                                selectedCar--
                                console.log(selectedCar)
                            }
                            place_prise.value=array_place
                            
                        }
                    })
        })
    
    }
    
    conteneur = document.querySelectorAll('.conteneur')
    desc = document.querySelectorAll('.desc')
    l=0
    let i =0
    for(i=0;i<conteneur.length;i++){
        let c = 0
        count = conteneur[i].children[0].children.length
            for(k=0;k<count;k++){
                if((!(conteneur[i].children[0].children[k].style.backgroundColor))&&(conteneur[i].children[0].children[k].className=="check")){
                    c++;
                }
            }
            newP = document.createElement('p')
            newP.innerText="Place libre"+c
        for(j=2+i;j<desc.length+l;j++){
            desc[i].appendChild(newP)
        }
        l++
    }
    
</script>

{%endblock%}