{% set i = 0%}
{%set j = i+1 %}
<form method="post">
    <div class="grid-item">
        <div id="priTotal">
            <button  id="btn-model" class="btn btn-success">info</button>
            <div class="model" id="model">
                <div class="model-content">
                    <ul>
                        <li><p>1 Une fois que vous appuyer sur le boutton paiement vous devriez payer</p></li>
                        <li><p>2 En refusant cette reglement on peut vous poursuivre en justice</p></li>
                    </ul>
                </div>
            </div>
            <label for="Place_prise" class="label-prise">Prix a payer(Ariary):</label>
            <input type="text" id="prix" value="{{billet.prix}}">
            <input type="text" id="prixQt" name="prix" value=""  readonly>
            <input type="hidden" id="id_prise" name="id_voiture" value="">
            <input type="hidden" id="place_prise" name="place_prise" value="">
            <button class=" btn btn-outline-success mb-3" id="btn">{{ button_label|default('Passer au paiement') }}</button>
        </div>  
        <div class="all_voiture">
            {%for voiture in voitures%}
            <div class="oneVoiture">
                <div class="desc">
                    {{voiture.numero}}
                    {{voiture.categorie}}
                    <input type="hidden" name="" value="{{voiture.id}}" id="voitureId">
                </div>
                    <div class="conteneur">
                        {%set temp = voiture.id%}
                        {%if voiture.id == temp%}
                            {%set i = 0%}
                        {%endif%}
                        <div class="content_place" id="{{voiture.id}}">
                            {%for place in voiture.place%}
                                {%if place == ''%}
                                    <button name="place[]" id="" value= "0" class="place">{{i}}</button>
                                {%else%}
                                    <button name="place[]" id="" value= "{{place}}" class="place">{{i}}</button>
                                {%endif%}
                                {%set i = i+1 %}
                            {%endfor%}
                        </div>
                    </div>
            </div>
            {%endfor%}
        </div>
            
    </div>       
    <button type="submit">coco</button>
</form>
