{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/yy.css')}}">
{% endblock %}
{% block body %}
<section id="car-resevation">
    <div class="car-type">
        <h4>Voiture Disponible</h4>
        <ul>
            <li>{{voitures.destination.ville}}</li>
            <li>{{voitures.categorie.categorie}}</li>
        </ul> 
    </div>
    <div class="car-place-container">
        <div class="car-place">
             
            {{form_start(form)}}
                <div class="grid-item">
                    <div id="prixTotal">
                        <label for="Place_prise" class="label-prise">Prix a payer(Ariary):</label>
                        <input type="hidden" id="prix" value="{{billet.prix}}">
                        <input type="text" id="Place_prise" name="prix" value=""  readonly>
                        <input type="hidden" id="id_prise" name="id_voiture" value="">
                        <input type="hidden" id="place_total" name="place_total" value="">
                        <button class=" btn btn-outline-success mb-3">{{ button_label|default('Passer au paiement') }}</button>
                    </div>  
                </div>         
                        {%for voiture in voitures%}
                            {{form_row(form['voitures_'~voiture.id].place)}}                     
                            {{form_row(form['voitures_'~voiture.id].id)}}
                        {% endfor %}
            {{form_end(form)}}
            <div class="instruction">
                <p>Place libree :<canvas id="myCanvas" width="20" height="20" style="border:1px solid #000000;"></p>
                <p>Place occupéee :<canvas id="myCanvas" width="20" height="20" style="border:1px solid red;background-color:red;"></p>
                <p>Chauffeur :<canvas id="myCanvas" width="20" height="20" style="border:1px solid red;background-color:red;"></canvas>C</p>
             </div>
        </div>
    </div>
        
</section>
<script>
    (function(){
        const input = document.getElementsByTagName('input');
        var newI = document.createElement('i');
        for(j=0;j<input.length;j++){
            if(input[j].type==="checkbox" || input[j].type==="radio"){
                input[j].style.display="none";
                input[j].parentNode.parentNode.className="check";
                input[j].parentNode.parentNode.parentNode.className="conteneur";
                input[j].labels.disabled="true";
                if(input[j].nextElementSibling.textContent==="0"){
                    input[j].nextElementSibling.textContent="C";
                }
                if(!input[j].checked){
                    input[j].value=0;
                    input[j].parentNode.className+=" true_value";
                }else{
                    input[j].type="radio";
                    input[j].parentNode.parentNode.style.backgroundColor="red";
                }
            }
        }
    })();
    const check = document.getElementsByClassName("true_value");
    const Place_prise = document.getElementById("Place_prise");
    const prixTotal = document.getElementById("prixTotal");
    const prix = document.getElementById("prix");
    const id_voiture = document.getElementById("id_prise");
    const place_total = document.getElementById("place_total");
    const array_place = [];
    for(i=0;i<check.length;i++){
            j=1;
            check[i].addEventListener('click',function(e){
                if(!this.style.backgroundColor){
                    prixTotal.style.display="flex";
                    this.style.backgroundColor="rgb(48, 255, 29)";
                    this.style.opacity="0.8";
                    this.firstChild.checked=true;   
                    voiture=this.parentNode.parentNode.parentNode.parentNode.childNodes[2].childNodes[1].value
                    
                    array_place.push(this.childNodes[2].innerText);
                    Place_prise.value=(prix.value*j);
                    j++;
                    id_voiture.value=voiture
                }else{
                    this.style.backgroundColor="";
                    this.firstChild.checked=false;
                    this.style.opacity="1";
                    Place_prise.value=Place_prise.value - prix.value;
                    j--;
                    Place_prise.placeholder-=this.lastChild.textContent;
                    array_place.pop();
                }
                place_total.value=array_place;
                
            })
        }
    (function(){
        const input = document.getElementsByTagName('input');
        for(i=0;i<input.length;i++){
                if(input[i].type==="number"){
                    input[i].parentNode.style.display="none";
                }
        }
    }())
    const schema = document.getElementsByClassName('schema');
    for(i=0;i<schema.length;i++){
                schema[i].parentNode.classList.add('collection');
    }

</script>
{%endblock%}