
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/yy.css')}}">
{% endblock %}
{% block body %}
<div id="prixTotal">
    <input type="text" id="prix" value="{{billet.prix}}">
    <h1></h1>
</div>
{{voitures.categorie.categorie}}
{{voitures.destination.ville}}
        {{form_start(form)}}            
            {%for voiture in voitures%}
                    {{form_row(form['voitures_'~voiture.id].place,{'attr':{'class':'place'}})}}
            {% endfor %}
            <button class="btn">{{ button_label|default('Save') }}</button>
        {{form_end(form)}}
<script src="{{asset('js/style.js')}}"></script>
{%endblock%}