{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/yy.css')}}">
{% endblock %}
{% block body %}
<section id="car-place">
    <div class="car-place-container">
        <div class="car-type">
            <div class="car-destination">
                {{voitures.destination.ville}}
            </div>
            <div class="car-categorie">

                {{voitures.categorie.categorie}}
            </div>
        </div>
        <div class="car-place">
            {{form_start(form)}}   
                <div id="prixTotal">
                    <input type="hidden" id="prix" value="{{billet.prix}}">
                    <input type="text" id="Place_prise" name="prix" value=""  readonly>
                    {%if (billet.prix > 1)%}
                        <button class="btn">{{ button_label|default('Passer au paiement') }}</button>
                    {%endif%}
                </div>         
                {%for voiture in voitures%}
                        {{form_row(form['voitures_'~voiture.id].place,{'attr':{'class':'place'}})}}
                {% endfor %}
            {{form_end(form)}}
        </div>
    </div>
        
</section>
<script src="{{asset('js/style.js')}}">
</script>
{%endblock%}