{% extends 'base.html.twig'%}
    {% block stylesheets %}
        {{encore_entry_link_tags('Edit')}}
        {{encore_entry_link_tags('app')}}
    {% endblock %}
    {% block javascripts %}
        {{encore_entry_link_tags('Edit')}}
    {% endblock %}
{% block body %}
<section id="car-resevation">
    <div class="title-head">
        <h4>Voiture Disponible</h4>
        <ul>
            <li>{{voitures.destination.ville}}</li>
            <li>{{voitures.categorie.categorie}}</li>
        </ul> 
    </div>
    <div class="car-place-container">
        <div class="car-place">
            {% for type , messages in app.flashes%}
                {%for message in messages%}
                    <div class="alert alert-{{type}}">
                        {{message}}
                    </div>
                {% endfor%}
            {%endfor%}
            {{form_start(form)}}
                <div class="grid-item">
                    <div id="prixTotal">
                        <button  id="btn-model" class="btn btn-success">info</button>
                        <div class="model" id="model">
                            <div class="model-content">
                                <ul>
                                    <li><p>1 Une fois que vous appuyer sur le boutton paiement vous devriez payer</p></li>
                                    <li><p>2 En refusant cette reglement on peut vous poursuivre en justice</p></li>
                                </ul>
                            </div>
                        </div>
                        <label for="Place_prise" class="label-prise">Prix a payer(Ariary):</label>
                        <input type="hidden" id="prix" value="{{billet.prix}}">
                        <input type="text" id="Place_prise" name="prix" value=""  readonly>
                        <input type="hidden" id="id_prise" name="id_voiture" value="">
                        <input type="hidden" id="place_total" name="place_total" value="">
                        <button class=" btn btn-outline-success mb-3" id="btn">{{ button_label|default('Passer au paiement') }}</button>
                    </div>  
                </div>         
                        {%for voiture in voitures%}
                            {{form_row(form['voitures_'~voiture.id].place)}}                     
                            {{form_row(form['voitures_'~voiture.id].id)}}
                        {% endfor %}
            {{form_end(form)}}
            <div class="instruction">
                <p>Place libree :<canvas id="myCanvas" width="20" height="20" style="border:1px solid #000000;"></p>
                <p>Place occupéee :<canvas id="myCanvas" width="20" height="20" style="border:1px solid red;background-color:red;"></p>
                <p>Chauffeur :<canvas id="myCanvas" width="20" height="20" style="border:1px solid red;background-color:red;"></canvas>C</p>
             </div>
        </div>
    </div>
        
</section>
{%endblock%}