{% extends 'base.html.twig'%}
{% block body %}
<div class="builder">
    <div class="container-billet">
        {{form_start(formBillet)}}
            <div class="col">
                {{form_row(formBillet.Nom)}}
            </div>
            <div class="col">
                {{form_row(formBillet.Prenom)}}
            </div>
            <div class="col">
                {{form_row(formBillet.Telephone)}}
            </div>
            <div class="col">
                {{form_row(formBillet.CIN)}}
            </div>
            <div class="col">
                {{form_row(formBillet.depart)}}
            </div>
            <div class="col">
                {{form_row(formBillet.destination)}}
            </div>
            <div class="col">
                {{form_row(formBillet.categorie)}}
            </div>
            <div class="col">
                {{form_row(formBillet.DateReservation)}}
            </div>
            <div class="col">
                {{form_row(formBillet.quantite)}}
            </div>
            <div class="prix">
                {%for prix in prixT%}
                    <label for="">Prix</label>
                   <input type="text" placeholder="{{prix.prix }}ar * {{quantite}}" readonly> 
                {%endfor%}
            </div>
            <div class="voiture">
                {%for voiture in voitureDispo%}
                    {{voiture.numero}}
                {%endfor%}
            </div>
            <button type="submit" class="submit-button">Verifier</button>
        {{form_end(formBillet)}}
    </div>
    <div class="container-image">
        <h1>Fait votre reservation</h1>
        <h1>TRANSPORT</h1>
        <p>Votre meilleur company de voyage</p>
        <img src="{{asset("img/1.jpg")}}" alt="">
    </div>
</div>
{% endblock %}
