{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/rsv.css')}}">
{% endblock %}
{% block body %}
<div class="builder">
    <div id="container-billet">
        
        <button  class="btnChange" onclick="openV()" >kkkkk</button>
        <div class="left">
        {{form_start(formBillet)}}
            <div class="block">
                <div class="row ">
                    <div class="col">{{form_row(formBillet.Nom)}}</div>
                    <div class="col">{{form_row(formBillet.Prenom)}}</div>
                    <div class="col">{{form_row(formBillet.Telephone)}}</div>
                    <div class="col">{{form_row(formBillet.CIN)}}</div>
                </div>
                <div class="row">
                        <div class="col">{{form_row(formBillet.depart)}}</div>
                        <div class="col">{{form_row(formBillet.destination)}}</div>
                        <div class="col">{{form_row(formBillet.categorie)}}</div>
                        <div class="col">{{form_row(formBillet.quantite)}}</div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    {{form_row(formBillet.DateReservation)}}
                </div>

                <div class="row">
                        {%for prix in prixT%}
                        <div class="col">
                            <label for="">Prix</label>
                        </div>
                        <div class="col">
                            <input type="text" class ="prixInput" placeholder="{{prix.prix }}ar * {{quantite}}" readonly> 
                        </div>
                        {%endfor%}
                </div>
            </div>
            <div class="block" id="btn">
                <div class="row">
                    <div class="btn-action">
                        <button type="submit" id="verifie">Verifier</button>
                        {%if(paie == true)%}
                        <button id="paye">Passer</button>
                        {%endif%}
                    </div>
                </div>
            </div>  
        </div>
        <div class="right">
             <h1>Vous pouvez faire votre reservation</h1>
        </div>
    </div>
    <div id="container-voiture">
        {%for voiture in voitureDispo%}
        
            <div class="voiture">
                <div class="type">
                    <H1>VIP</H1>
                </div>
                <div class="num">
                    <h1>
                        {{voiture.numero}}</h1>
                </div>
                <div class="place">

                    <div class="row">
                        <div class="col"></div>
                        <div class="pl" onclick="change(1)">1</div>
                        <div class="pl" onclick="change(2)">2</div>
                    </div>
                    
                    <div class="row">
                        <div class="pl" onclick="change(3)">3</div>
                        <div class="pl" onclick="change(4)">4</div>
                        <div class="pl" onclick="change(5)">5</div>
                    </div>
                    
                    <div class="row">
                        <div class="pl" onclick="change(6)">6</div>
                        <div class="pl" onclick="change(7)">7</div>
                        <div class="pl" onclick="change(8)">8</div>
                    </div>
                    
                    <div class="row">
                        <div class="pl" onclick="change(9)">9</div>
                        <div class="pl" onclick="change(10)">10</div>
                        <div class="pl" onclick="change(11)">11</div>
                    </div>
                    <div class="row">
                        <div class="pl" onclick="change(12)">12</div>
                        <div class="pl" onclick="change(13)">13</div>
                        <div class="pl" onclick="change(14)">14</div>
                        <div class="pl" onclick="change(15)">15</div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
    {{form_end(formBillet)}} 
</div>
<script src="{{asset('js/voiture.js')}}"></script>
{% endblock %}
