{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/rsv.css')}}">
{% endblock %}
{% block body %}
<div class="builder">
    <div class="container-billet">
        <div class="left">
        {{form_start(formBillet)}}
            <div class="block">
                <div class="row ">
                    <div class="col">{{form_row(formBillet.Nom)}}</div>
                    <div class="col">{{form_row(formBillet.Prenom)}}</div>
                    <div class="col">{{form_row(formBillet.Telephone)}}</div>
                    <div class="col">{{form_row(formBillet.CIN)}}</div>
                </div>
                <div class="row">
                        <div class="col">{{form_row(formBillet.depart)}}</div>
                        <div class="col">{{form_row(formBillet.destination)}}</div>
                        <div class="col">{{form_row(formBillet.categorie)}}</div>
                        <div class="col">{{form_row(formBillet.quantite)}}</div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    {{form_row(formBillet.DateReservation)}}
                </div>

                <div class="row">
                        {%for prix in prixT%}
                        <div class="col">
                            <label for="">Prix</label>
                        </div>
                        <div class="col">
                            <input type="text" class ="prixInput" placeholder="{{prix.prix }}ar * {{quantite}}" readonly> 
                        </div>
                        {%endfor%}
                        {%for voiture in voitureDispo%}
                            {{voiture.numero}}
                        {%endfor%}
                </div>
            </div>
            <div class="block" id="btn">
                <div class="row">
                    <div class="btn-action">
                        <button type="submit" id="verifie">Verifier</button>
                        {%if(paie == true)%}
                            <a href="{{path('App_payer')}}" id="paye">Passer au paiement</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        {{form_end(formBillet)}}   
        </div>
        <div class="right">
             <h1>Vous pouvez faire votre reservation</h1>
        </div>
    </div>
</div>
{% endblock %}
