{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/rsv.css')}}">
{% endblock %}
{% block body %}
<div class="builder">
    <div id="container-billet">
        
        <button  class="btnChange" onclick="openV()" >kkkkk</button>
        <div class="left">
        {{form_start(formBillet)}}
            <div class="block">
                <div class="row ">
                    <div class="col">{{form_row(formBillet.Nom)}}</div>
                    <div class="col">{{form_row(formBillet.Prenom)}}</div>
                    <div class="col">{{form_row(formBillet.Telephone)}}</div>
                    <div class="col">{{form_row(formBillet.CIN)}}</div>
                </div>
                <div class="row">
                        <div class="col">{{form_row(formBillet.depart)}}</div>
                        <div class="col">{{form_row(formBillet.destination)}}</div>
                        <div class="col">{{form_row(formBillet.categorie)}}</div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    {{form_row(formBillet.DateReservation)}}
                </div>
                
            <div class="block" id="btn">
                <div class="row">
                    <div class="btn-action">
                        <button type="submit" id="verifie">Verifier</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    {{form_end(formBillet)}} 
</div>
{% endblock %}
