{% extends 'base.html.twig' %}
{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="{{asset('css/paiement.css')}}">
{%endblock%}
{% block body %}
<div class="container-fact">
    <div class="builder">
        <div class="block-l">
            <p>Nom :{{billet.Nom}}</p>
            <p>Prenom {{billet.Prenom}}</p>
            <p>CIN :{{billet.CIN}}</p>
            <p>Depart :{{billet.depart.ville}}</p>
            <p>Destination :{{billet.destination.ville}}</p>
            <p>Categorie :{{billet.categorie.categorie}}</p>
            <p>Date de depart :{{billet.DateReservation|date('d/m/y')}}</p>
            <p>Nb personne :{{billet.quantite}}</p>
            <p>---------------------------------</p>
            <p>Prix total :{{billet.prix}}</p>
            <button>Payer</button>
        </div>
        <div class="block-r">
            <h1>Mode de paiement</h1>
            <div class="logo">
                <img src="{{asset('img/2.jpg')}}" alt="">
                <img src="{{asset('img/2.jpg')}}" alt="">
                <img src="{{asset('img/2.jpg')}}" alt="">
            </div>
        </div>
    </div>
</div>


{% endblock %}