{% extends 'base.html.twig'%}
{% block body %}
<section class="reservation">
    <div class="title-head">
        <h4>Reservation</h4>
    </div>
    <div id="container-billet">
        <div class="contents">
            {{form_start(formBillet)}}
                <div class="row ">
                    {{form_row(formBillet.Nom)}}
                    {{form_row(formBillet.Prenom)}}
                    {{form_row(formBillet.Telephone)}}
                    {{form_row(formBillet.CIN)}}
                </div>
                <div class="row">
                    {{form_row(formBillet.depart)}}
                    {{form_row(formBillet.destination)}}
                    {{form_row(formBillet.categorie)}}
                </div>
                <div class="row">
                    {{form_row(formBillet.DateReservation)}}
                </div>
                <div class="row">
                    <div class="btn-action">
                        <button type="submit" id="verifie">Verifier</button>
                    </div>
                </div>
                {{form_end(formBillet)}} 
        </div>
    </div>
</section>
{% endblock %}
