<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('/fontawesome.min.css')}}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% block loader %}
        <div id="loader">
            <div class="spinner"></div>
        </div>
    {% endblock %}
        <nav id="nav-hero">
            <ul>
                <li><a href="{{path('App_home')}}">Acceuil</a></li>
                <li><a href="{{path('app_billet')}}">Reservation</a></li>
                <li><a href="">Colis</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        
        {%block header%}
        {%endblock%}
        {% block body %}
        {% endblock %}
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>
    </body>
</html>
