<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          {{encore_entry_link_tags('app')}}
        {% endblock %}
        {% block javascripts %}
          {{encore_entry_link_tags('app')}}
        {% endblock %}
    </head>
    <body>
    {% block loader %}
        <div id="loader">
            <div class="spinner"></div>
        </div>
    {% endblock %}
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{path('App_home')}}">TRANSPORT</a>
            {% if(app.user)%}
              <a class="navbar-brand" href="{{path('App_user_billet')}}">{{app.user.nom}}</a>
            {%endif%}
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              
              <form class="form-inline ml-auto my-2 my-lg-0">
                  {%if app.user %}
                  <a href="{{path('app_logout')}}" class="btn btn-outline-danger my-2 my-sm-0">Se deconnecter</a>
                  {%else%}
                    <a href="{{path('app_login')}}" class="btn btn-outline-danger my-2 my-sm-0">Se Connecter</a>
                  {%endif%}
              </form>
            </div>
          </nav>
        
        {%block header%}
        {%endblock%}
        {% block body %}
        {% endblock %}
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 600);
        });
    </script>
    </body>
</html>
