{% extends 'base.html.twig' %}
{% block body %}
<div id="userContent">
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            {% if app.user %}
                            <div class="billet-card">
                                <div class="billet-title">
                                    <h5>Votre reservation:</h5>
                                </div>
                                <div class="billet-body">
                                    <ul>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Numero:</p> 
                                                <p>{{app.user.numero}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Nom:</p>
                                                <p>{{app.user.Nom}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Prenom:</p>
                                                <p>{{app.user.Prenom}}</h1>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Voiture:</p>
                                                <p>{{voiture.numero}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Place:</p>
                                                <p>{{place}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Depart:</p>
                                                <p>{{billet.depart.ville}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Destination:</p>
                                                <p>{{billet.destination.ville}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Categorie</p>
                                                <p>{{billet.categorie.categorie}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Date de depart:</p>
                                                <p>{{billet.DateReservation|date('d/m/y')}}</p> 
                                            </div>
                                        </li>
                                        <li class="list-group">
                                            <div class="d-flex">
                                                <p>Prix:</p>
                                                <h5>{{prix}}Ar</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-5">
                    <div class="card">
                        <div class="card-title">
                            <h5>Toutes vos reservation</h5>
                        </div>
                        <div class="card-body">               
                            {%include ('/user/_history.html.twig')%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}