{% extends 'base.html.twig' %}
{% block body %}
<div id="userContent">
    <div class="row">
        <div class="col-md-4">
            {% if app.user %}
            <div class="row billet">
                <div class="labelBillet col-md-6">
                        <p>Numero:</p>
                        <p>Nom:</p>
                        <p>Prenom:</p>
                        <p>Voiture:</p>
                        <p>Place:</p>
                        <p>Depart:</p>
                        <p>Destination:</p>
                        <p>Categorie</p>
                        <p>Date de depart:</p>
                        <p>Prix:</p>
                </div>
                <div class="valueBillet col-md-6">
                        <p>{{app.user.numero}}</p>
                        <p>{{app.user.Nom}}</p>
                        <p>{{app.user.Prenom}}</h1>
                        <p>{{voiture.numero}}</p>
                        <p>{{place}}</p>
                        <p>{{billet.depart.ville}}</p>
                        <p>{{billet.destination.ville}}</p>
                        <p>{{billet.categorie.categorie}}</p>
                        <p>{{billet.DateReservation|date('d/m/y')}}</p> 
                        <h1>{{prix}}</h1>
                </div>
            </div>
            {%endif%}
        </div>
        <div class="col-md-6">
            {%include ('/user/_history.html.twig')%}
        </div>
    </div>
</div>
{% endblock %}